body {
    background-image: linear-gradient(to right, #368297 50%, #FFD200 50% );
    margin: 0;
}
.list3 ul {
    height: auto;
    min-width: 250px;
    text-align: right;
    margin: 0;
    padding: 15px;
    margin-bottom: 60px;
    background-color: rgba(255,255,255,0.6);
}
.list3 ul li:hover{
    color: #fff;
}
.list3 ul li{
    display: inline;
    padding: 10px;
    list-style: none;
    font-family: tahoma ;
    color: rgb(0, 0, 0);
    
}
.list3 ul a{
    text-decoration: none;
    color: black;
}
.container-General{
    margin: auto;
    background: rgba(255,255,255,0.6);
    max-width: 1000px;
    width: 90%;
    
}

.titleBox p{
    text-align: center;
    font-size: 40px;
    font-family: impact;
    color: rgba(79, 108, 233, 0.521);
    padding-top: 20px;
}
.container-text {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width:100%;
    height: auto;
    font-size: 15px;
    font-family: tahoma;
    text-align: justify;
}
.container-text > p{
    width: 60%;
    padding: 20px;
    overflow: hidden;
}
.boximg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    height: auto;
}
.boximg > img{
    height: 200px;
    width: 200px;
}