body {
    background-image: linear-gradient(to right, #368297 50%, #FFD200 50% );
    margin: 0;
}

/*Nav*/

.list3 ul {
    height: auto;
    min-width: 250px;
    text-align: right;
    margin: 0;
    padding: 15px;
    margin-bottom: 60px;
    background-color: rgba(255,255,255,0.6);
    box-shadow: 0 5px 5px rgba(0,0,0,.2);    
}
.list3 ul li:hover{
    color: #fff;
}
.list3 ul li{
    display: inline;
    padding: 10px;
    list-style: none;
    font-family: tahoma ;
    color: rgb(0, 0, 0);
    
}
.list3 ul a{
    text-decoration: none;
    color: black;
}

/*Main*/

.container-General{
    margin: auto;
    background: rgba(255, 255, 255, 0.6);
    max-width: 1000px;
    width: 90%;
    border-radius: 10px;
    margin-bottom: 200px;
    box-shadow: 2px 3px 7px rgba(0,0,0,0.4);
}

.titleBox p{
    text-align: center;
    font-size: 40px;
    font-family: impact;
    color: rgba(79, 108, 233, 0.521);
    padding-top: 20px;
}
.container-text {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    width:100%;
    height: auto;
    font-size: 15px;
    font-family: tahoma;
    text-align: justify;
}
.container-text > p{
    width: 100%;
    padding: 20px;
    overflow: hidden;
}
.boximg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    height: auto;
}
.boximg > img{
    height: 200px;
    width: 200px;
}

/*Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    height:auto;
    width: 100%;
    background-color: #d4d4d4f1;
    padding-top: 20px;
    overflow: hidden;
}
footer .lista1 {
    display: flex;
    width: 50%;
    min-width: 674px;
}
.icon{
    padding-top: 18px;

}
.icon img{
    display: block;
    margin: 10px;
    margin-left: 20px;
    margin-right: 5px;

}
footer ul {
    padding: 0;
}
footer li{ 
    list-style: none;
    font-size: 12px;
    color: rgb(112, 111, 111);
    margin: 14px;
    padding-left: 5px;
    border-left: solid grey 3px;
}
footer a {
    text-decoration: none;
}

/* Pie de pagina */

.footerResg {
    font-size: 12px;
    background-color: #d4d4d4f1;
    color: rgb(112, 111, 111);
    padding: 30px;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}    