* {
    padding: 0;
    margin: 0;
    font-family: century gothic;
}

body {
    background-color: #ededed;
    background-image: url(https://images.wallpaperscraft.com/image/bulb_lighting_rope_130830_1280x720.jpg);
    background-attachment: fixed;
}
.logo {
    width: 100%;
    height: auto;
}
.header {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #F8EAE1;
    min-width: 250px;
    height: 600px;
    
}
.header .header1 {
   color: rgb(182, 180, 180);
}
.home0  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}
.home0 div{
    min-width: 250px;
    padding: 20px;
    font-family: impact;
    color: white;
}


.home {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8EAE1;
    padding-bottom: 50px;
}

.in-flex {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    min-width: 250px;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
}

.in-flex h2{
    display: flex;
    align-items: center;
    color: rgb(71, 70, 68);
    font-size: 40px;
    font-family: impact; 
}

.containerGaleria{
    display: inline;
    margin-left: 120px;
    
}
.in-flex .containerGaleria{
    display: flex;
    flex-wrap: wrap;
}
.imggaleria {
    transform: scale(0.9, 0.9);
    height: 114px;
    margin-right: 20px;
}

.imggaleria h6 {
    text-align: center;
}
.in-flex:first-child {
    flex: 2;
    padding: 25px;
    background-color: #F8EAE1;
    margin: 20px;
    margin-bottom: 0;
    
    
}

.in-flex .img{
    display: flex;
    min-width: 250px;
        
}
.in-flex .img img {
    margin: 20px;
    border-radius: 4px;
    
}

.in-flex p {
    text-align: justify;
    
    background-color: #F8EAE1;
    margin: 20px;
    border-radius: 4px;
    
}
.in-flex a {
    display: flex;

}
.banerDesign {
    
    background-color: #F8EAE1;
    text-align: center;
    height: auto;
}
.banerDesign p{   
    display: flex;
    justify-content: center; 
    color: rgba(0,0,0,0.6);
    font-family: impact;
    font-size: 30px;
    padding-top: 20px;
    
}
.IMG {
    
    height: auto;
    min-width: 250px;
    justify-content: center;
    padding: 20px;
}
.IMG img{
    margin: 10px;
}
.IMGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #F8EAE1;
    padding-bottom: 20px;
    padding-top: 40px;
    
}
.IMGallery img {
    margin-bottom: 20px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
    transition: 0.3s;
    
}
.IMGallery img:hover {
    transform: scale(1.02, 1.03);
    transition: 0.5s;
    
}
    
.baner {
    display:flex;
    justify-content: space-around;
   
    height: auto;
    background-color: rgb(71, 70, 68);
    padding: 50px;
    
}

.baner p{
    display: flex;
    flex-wrap: wrap;
    max-width: 100px;
    height: auto;
    margin: 10px;
    font-size: 13px;
    color: rgb(128, 126, 126);
    text-align: center;
}

footer {
    display: flex;
    height:auto;
    min-width: 250px;
    background-color: #F8EAE1;
    padding-top: 20px;
    justify-content: space-around;
}
footer .lista1 {
    display: flex;
}
.icon img{
    display: block;
    margin: 10px;
    margin-right: 5px;
}
footer ul {
    padding: 0;
    
}
footer li{ 
    list-style: none;
    font-size: 12px;
    color: rgb(158, 157, 157);
    margin: 14px;
    padding-left: 5px;
    border-left: solid grey 3px;
}
footer a {
    text-decoration: none;
}
.footerResg {
    font-size: 12px;
    background-color: #F8EAE1;
    color: rgb(158, 157, 157);
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;    
}