body {
    background: #47b3d1;
    margin: 0;
}
.list3 ul {
    height: auto;
    min-width: 350px;
    text-align: right;
    margin: 0;
    padding: 15px;
    margin-bottom: 100px;
    background-color: rgba(255,255,255,0.6);
}
.list3 ul li:hover{
    color: #fff;
}
.list3 ul li{
    display: inline;
    padding: 10px;
    list-style: none;
    font-family: tahoma ;
    color: rgb(0, 0, 0);
    
}
.list3 ul a{
    text-decoration: none;
    color: black;
}
@media only screen and (max-width: 600px) {
    .list3 {
        display: none;
    }
}

/* dropdown boton -------------------------------------------------*/
/* Style The Dropdown Button */
.dropbtn {
    background-color: #368297;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
  
  /* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 50px;
    padding-top: 5px;
    padding-left: 5px;
    margin: 5px 5px 0px 5px; 
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
}
  
  /* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
  /* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ffe366;
    color: white;
    border-radius: 10px;
}

  
  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    box-shadow: 0px 5px 6px rgba(0,0,0,0.4);
  }
@media only screen and (min-width: 600px) {
    .dropdown {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .dropdown {
        display: block;
    }
}

/* Form Title*/

.tituloForm p {
    text-align: center;
    font-family: Impact;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

/* inside form */
.formdelform {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-bottom: 50px;
}
.formulario form{
    border-radius: 15px;
    padding: 50px;
    background-color:rgba(255, 255, 255, 0.733);
    box-shadow: 2px 3px 7px rgba(0,0,0,0.4);
    
}
input{
    border-radius: 5px;
    border: solid 1px rgb(49, 49, 49);
    border-bottom: solid 1px rgb(107, 107, 107);
    background: none;
    margin-bottom: 10px;
    height: 30px;
    padding: 5px;
}
.formulario p input {
    border: 0;
    cursor:pointer;

}
label {
    font-family: tahoma ;
    padding: 5px;

}
#mensajeria {
    border: solid 1px rgb(49, 49, 49);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}
.bottones {
    display: flex;
    justify-content: center;
}
.bottones input{
    border: solid 1px white;
    border-radius: 15px;
    margin: 10px;
    cursor: pointer;
    transition: 0.9s; 
    height: 40px;
    width: 80px;
}
.bottones :hover {
    transform:scale(1.05, 1.05);
    transition: 0.3s;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.226);
    height: 40px;
    width: 80px;
    box-shadow: 2px 3px 7px rgba(0,0,0,0.4);
    border: 0;
}